{% extends 'base.html.twig' %}

{% block title %}Consumable{% endblock %}

{% block body %}
    <h1>Consumable</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ consumable.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ consumable.name }}</td>
            </tr>
            <tr>
                <th>Stock_quantity</th>
                <td>{{ consumable.stockQuantity }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_consumable_index') }}">back to list</a>

    <a href="{{ path('app_consumable_edit', {'id': consumable.id}) }}">edit</a>

    {{ include('consumable/_delete_form.html.twig') }}
{% endblock %}
