{% extends 'base.html.twig' %}

{% block title %}Assignment{% endblock %}

{% block body %}
    <h1>Assignment</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ assignment.id }}</td>
            </tr>
            <tr>
                <th>Assigned_at</th>
                <td>{{ assignment.assignedAt ? assignment.assignedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Returned_at</th>
                <td>{{ assignment.returnedAt ? assignment.returnedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Pdf_filename</th>
                <td>{{ assignment.pdfFilename }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_assignment_index') }}">back to list</a>

    <a href="{{ path('app_assignment_edit', {'id': assignment.id}) }}">edit</a>

    {{ include('assignment/_delete_form.html.twig') }}
{% endblock %}
